@import "../../styles/fluid.scss";

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  @include fluid(padding-top, 15, 30);
  @include fluid(padding-bottom, 15, 30);
  @include fluid(padding-left, 20, 60);
  @include fluid(padding-right, 20, 60);
  z-index: 200;

  .logo {
    justify-self: start;

    h1 {
      @include fluid(font-size, 18, 24);
    }
  }

  .author {
    justify-self: end;
  }
}