@import "../../styles/colors.scss";
@import "../../styles/fluid.scss";

/* Bartosjiri logo */
.logo {
  display: flex;
  @include fluid(padding, 25, 50);
  @include fluid(margin, -25, -50);
  pointer-events: all;

  svg {
    @include fluid(height, 20, 34);
    fill: $color-text-primary;
    transition-property: fill;
  } 

  &:hover {
    svg {
      fill: #fb4248;
    }
  }
}