@import "../../styles/typography.scss";

/* Playlist title */
$animation-timing: cubic-bezier(0.645, 0.045, 0.355, 1.000);

.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  mix-blend-mode: difference;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      .item {
        h2 {
          color: white;
        }
      }
    }

    .item {
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      cursor: pointer;

      &.entering {
        h2 {
          animation: titleEntering;
          animation-timing-function: $animation-timing;
        }
      }

      &.exiting {
        h2 {
          animation: titleExiting;
          animation-timing-function: $animation-timing;
        }
      }
    }

    h2 {
      @include typography-font-secondary;
      font-size: 16rem;
      color: transparent;
      -webkit-text-stroke: 3px white;
      padding: 0 25rem 0 1rem;
      background: inherit;
      background-clip: text;
      white-space: nowrap;
    }

    @keyframes titleEntering {
      from {
        transform: rotateX(90deg) translateZ(8rem);
      }

      to {
        transform: rotateX(0) translateZ(8rem);
      }
    }
    
    @keyframes titleExiting {
      from {
        transform: rotateX(0) translateZ(8rem);
      }
      
      to {
        transform: rotateX(-90deg) translateZ(8rem);
      }
    }
  }
}