@import "./colors.scss";
@import "./fonts.scss";
@import "./typography.scss";

/* General */
:root {
	font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  @include typography-font-primary;
  font-size: 1.6rem;
  line-height: 1.5;
  color: $color-text-primary;
  background-color: $color-background-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
  
  a {
    outline: 0;
    text-decoration: none;
  }
}

::selection {
  background-color: transparent;
}