:root {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}

body {
	font-family: var(--font-family-01);
	font-size: 1.6rem;
	font-weight: var(--typography-weight-01);
	line-height: 1.5;
	color: var(--color-foreground-01);
	background-color: var(--color-background-01);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;

	a {
		outline: 0;
		text-decoration: none;
	}

	::selection {
		background-color: transparent;
	}
}
