/* Typography */
$typography-family-primary: "fx2p7zsmo6e0b54o";
$typography-family-secondary: "hfjegpo85cgirg50";

$typography-weight-base: 900;

@mixin typography-font-primary {
  font-family: $typography-family-primary, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

@mixin typography-font-secondary {
  font-family: $typography-family-secondary, sans-serif;
  font-weight: $typography-weight-base;
  text-transform: uppercase;
}