@import "../../styles/fluid.scss";
@import "../../styles/transitions.scss";

/* Preview cover */
.cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    width: 100vmin;
    height: 100vh;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include fluid(padding, 40, 100);
      overflow: hidden;

      img {
        display: block;
        width: 100%;
      }
      
      &.entering {
        img {
          animation: previewCoverEntering;
          animation-timing-function: $transition-playlist;
          animation-fill-mode: forwards;
        }
      }

      &.exiting {
        img {
          animation: previewCoverExiting;
          animation-timing-function: $transition-playlist;
          animation-fill-mode: forwards;
        }
      }

      @keyframes previewCoverEntering {
        0% {
          // opacity: 0;
          transform: scale(1);
          
        }

        50% {
          filter: url(#coverFilter);
        }

        100% {
          transform: scale(0.75);
          // opacity: 1;
        }
      }
      
      @keyframes previewCoverExiting {
        0% {
          opacity: 1;
          transform: scale(0.75);
          
        }

        100% {
          // transform: scale(1);
          opacity: 0;
          transform: scale(0.75);
        }
      }
    }
  }
}