@import "../../styles/fluid.scss";
@import "../../styles/transitions.scss";

/* Preview cover */
.cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    width: 100vmin;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .image {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include fluid(padding, 40, 100);

      img {
        display: block;
        width: 100%;
        opacity: 0.33;
      }

      &.entering {
        img {
          animation: previewCoverEntering;
          animation-timing-function: $transition-playlist;
          animation-fill-mode: forwards;
        }
      }

      &.exiting {
        img {
          animation: previewCoverExiting;
          animation-timing-function: $transition-playlist;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  @keyframes previewCoverEntering {
    0% {
      opacity: 0;
    }

    33% {
      transform: scale(1);
      opacity: 1;
    }

    66% {
      filter: url(#coverFilter);
    }

    100% {
      transform: scale(0.75);
    }
  }
  
  @keyframes previewCoverExiting {
    0% {
      transform: scale(0.75);
    }

    100% {
      opacity: 0;
      transform: scale(0.75);
    }
  }
}
