@import "../../styles/colors.scss";
@import "../../styles/fluid.scss";

/* Preview navigation */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  pointer-events: none;
  z-index: 500;

  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    @include fluid(width, 30, 150);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: auto;

    // .arrow {
    //   display: inline-block;
    //   @include fluid(width, 50, 100);
    //   @include fluid(height, 50, 100);
    //   background: rgba($color-text-secondary, 0.33);
    // }

    &.container_previous {
      left: 0;

      // .arrow {
      //   clip-path: polygon(42.500% 70.000%, 40.200% 67.700%, 37.400% 64.900%, 35.100% 62.600%, 32.400% 59.900%, 30.000% 57.500%, 27.400% 54.900%, 24.900% 52.400%, 22.300% 49.800%, 24.500% 47.600%, 27.200% 44.900%, 29.700% 42.400%, 32.200% 39.900%, 34.600% 37.500%, 37.100% 35.000%, 39.800% 32.300%, 42.200% 29.900%, 44.600% 27.500%, 47.100% 25.000%, 49.800% 22.300%, 52.200% 19.900%, 54.900% 17.200%, 57.400% 14.700%, 59.800% 12.300%, 62.100% 10.000%, 64.700% 7.400%, 67.100% 5.000%, 69.800% 7.500%, 72.300% 9.900%, 74.800% 12.400%, 77.900% 15.400%, 75.700% 17.600%, 73.000% 20.300%, 67.800% 25.500%, 63.000% 30.300%, 57.500% 35.800%, 52.400% 40.900%, 47.400% 45.900%, 43.500% 49.800%, 48.100% 54.400%, 53.100% 59.400%, 58.200% 64.500%, 63.100% 69.400%, 68.100% 74.400%, 73.000% 79.300%, 75.400% 81.700%, 78.100% 84.400%, 75.000% 87.500%, 72.300% 90.200%, 69.700% 92.800%, 67.500% 95.000%, 65.000% 92.500%, 62.600% 90.100%, 60.300% 87.800%, 57.400% 84.900%, 55.100% 82.600%, 52.600% 80.100%, 50.500% 78.000%, 47.400% 74.900%, 45.000% 72.500%, 42.500% 70.000%);
      // }
    }

    &.container_next {
      right: 0;

      // .arrow {
      //   clip-path: polygon(57.500% 30.000%, 59.800% 32.300%, 62.600% 35.100%, 64.900% 37.400%, 67.600% 40.100%, 70.000% 42.500%, 72.600% 45.100%, 75.100% 47.600%, 77.700% 50.200%, 75.500% 52.400%, 72.800% 55.100%, 70.300% 57.600%, 67.800% 60.100%, 65.400% 62.500%, 62.900% 65.000%, 60.200% 67.700%, 57.800% 70.100%, 55.400% 72.500%, 52.900% 75.000%, 50.200% 77.700%, 47.800% 80.100%, 45.100% 82.800%, 42.600% 85.300%, 40.200% 87.700%, 37.900% 90.000%, 35.300% 92.600%, 32.900% 95.000%, 30.200% 92.500%, 27.700% 90.100%, 25.200% 87.600%, 22.100% 84.600%, 24.300% 82.400%, 27.000% 79.700%, 32.200% 74.500%, 37.000% 69.700%, 42.500% 64.200%, 47.600% 59.100%, 52.600% 54.100%, 56.500% 50.200%, 51.900% 45.600%, 46.900% 40.600%, 41.800% 35.500%, 36.900% 30.600%, 31.900% 25.600%, 27.000% 20.700%, 24.600% 18.300%, 21.900% 15.600%, 25.000% 12.500%, 27.700% 9.800%, 30.300% 7.200%, 32.500% 5.000%, 35.000% 7.500%, 37.400% 9.900%, 39.700% 12.200%, 42.600% 15.100%, 44.900% 17.400%, 47.400% 19.900%, 49.500% 22.000%, 52.600% 25.100%, 55.000% 27.500%, 57.500% 30.000%);
      // }
    }
  }
}