@import "../../styles/transitions.scss";
@import "../../styles/typography.scss";

/* Browser title */
.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  mix-blend-mode: difference;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .item {
      &:hover {
        h2 {
          color: white;
        }
      } 
    }

    .item {
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      cursor: pointer;

      &.entering {
        h2 {
          animation: titleEntering;
          animation-timing-function: $transition-playlist;
          animation-fill-mode: forwards;
        }
      }

      &.exiting {
        h2 {
          animation: titleExiting;
          animation-timing-function: $transition-playlist;
          animation-fill-mode: forwards;
        }
      }
    }

    h2 {
      @include typography-font-secondary;
      font-size: 16rem;
      color: transparent;
      -webkit-text-stroke: 3px white;
      padding: 0 25rem 0 1rem;
      background: inherit;
      background-clip: text;
      white-space: nowrap;
    }
  }

  @keyframes titleEntering {
    0% {
      transform: rotateX(90deg) translateZ(8rem);
    }

    100% {
      transform: rotateX(0) translateZ(8rem);
    }
  }
  
  @keyframes titleExiting {
    0% {
      transform: rotateX(0) translateZ(8rem);
    }
    
    100% {
      transform: rotateX(-90deg) translateZ(8rem);
    }
  }
}