/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 6rem;
  z-index: 200;

  .progress {
    justify-self: start;
  }

  // .undefined {
  //   justify-self: end;
  // }
}