@import "../../styles/colors.scss";
@import "../../styles/fluid.scss";

/* Cursor */
$cursor-base-translate: translate(-50%, -50%);
$cursor-base-scale: scale(0.5);

* {
  cursor: none !important;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;

  .cursor_shape {
    position: absolute;
    transition-property: transform;

    span {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      @include fluid(width, 50, 100);
      @include fluid(height, 50, 100);
      background: rgba($color-text-primary, 0.66);
      transition-property: clip-path, transform, background;
      transform: $cursor-base-translate $cursor-base-scale;
    }


    &.cursor_default {
      span {
        &:first-child {
          clip-path: polygon(0.000% 55.000%, 0.000% 50.000%, 0.000% 45.000%, 0.000% 40.000%, 5.000% 40.000%, 10.000% 40.000%, 15.000% 40.000%, 20.000% 40.000%, 25.000% 40.000%, 30.000% 40.000%, 35.000% 40.000%, 40.000% 40.000%, 45.000% 45.000%, 50.000% 50.000%, 55.000% 55.000%, 60.000% 60.000%, 60.000% 65.000%, 60.000% 70.000%, 60.000% 75.000%, 60.000% 80.000%, 60.000% 85.000%, 60.000% 90.000%, 60.000% 95.000%, 60.000% 100.000%, 55.000% 100.000%, 50.000% 100.000%, 45.000% 100.000%, 40.000% 100.000%, 40.000% 95.000%, 40.000% 90.000%, 40.000% 85.000%, 40.000% 80.000%, 40.000% 75.000%, 40.000% 70.000%, 40.000% 65.000%, 40.000% 60.000%, 35.000% 60.000%, 30.000% 60.000%, 25.000% 60.000%, 20.000% 60.000%, 15.000% 60.000%, 10.000% 60.000%, 5.000% 60.000%, 0.000% 60.000%, 0.000% 55.000%);
        }

        &:last-child {
          clip-path: polygon(100.000% 45.000%, 100.000% 50.000%, 100.000% 55.000%, 100.000% 60.000%, 95.000% 60.000%, 90.000% 60.000%, 85.000% 60.000%, 80.000% 60.000%, 75.000% 60.000%, 70.000% 60.000%, 65.000% 60.000%, 60.000% 60.000%, 55.000% 55.000%, 50.000% 50.000%, 45.000% 45.000%, 40.000% 40.000%, 40.000% 35.000%, 40.000% 30.000%, 40.000% 25.000%, 40.000% 20.000%, 40.000% 15.000%, 40.000% 10.000%, 40.000% 5.000%, 40.000% 0.000%, 45.000% 0.000%, 50.000% 0.000%, 55.000% 0.000%, 60.000% 0.000%, 60.000% 5.000%, 60.000% 10.000%, 60.000% 15.000%, 60.000% 20.000%, 60.000% 25.000%, 60.000% 30.000%, 60.000% 35.000%, 60.000% 40.000%, 65.000% 40.000%, 70.000% 40.000%, 75.000% 40.000%, 80.000% 40.000%, 85.000% 40.000%, 90.000% 40.000%, 95.000% 40.000%, 100.000% 40.000%, 100.000% 45.000%);
        }
      }
    }

    &.cursor_cross {
      span {
        background: $color-text-primary;
        transform: $cursor-base-translate rotate(45deg);

        &:first-child {
          clip-path: polygon(100.000% 45.000%, 100.000% 50.000%, 100.000% 55.000%, 100.000% 60.000%, 95.000% 60.000%, 90.000% 60.000%, 85.000% 60.000%, 80.000% 60.000%, 75.000% 60.000%, 70.000% 60.000%, 65.000% 60.000%, 60.000% 60.000%, 55.000% 55.000%, 50.000% 50.000%, 45.000% 45.000%, 40.000% 40.000%, 40.000% 35.000%, 40.000% 30.000%, 40.000% 25.000%, 40.000% 20.000%, 40.000% 15.000%, 40.000% 10.000%, 40.000% 5.000%, 40.000% 0.000%, 45.000% 0.000%, 50.000% 0.000%, 55.000% 0.000%, 60.000% 0.000%, 60.000% 5.000%, 60.000% 10.000%, 60.000% 15.000%, 60.000% 20.000%, 60.000% 25.000%, 60.000% 30.000%, 60.000% 35.000%, 60.000% 40.000%, 65.000% 40.000%, 70.000% 40.000%, 75.000% 40.000%, 80.000% 40.000%, 85.000% 40.000%, 90.000% 40.000%, 95.000% 40.000%, 100.000% 40.000%, 100.000% 45.000%);
        }
        
        &:last-child {
          clip-path: polygon(0.000% 55.000%, 0.000% 50.000%, 0.000% 45.000%, 0.000% 40.000%, 5.000% 40.000%, 10.000% 40.000%, 15.000% 40.000%, 20.000% 40.000%, 25.000% 40.000%, 30.000% 40.000%, 35.000% 40.000%, 40.000% 40.000%, 45.000% 45.000%, 50.000% 50.000%, 55.000% 55.000%, 60.000% 60.000%, 60.000% 65.000%, 60.000% 70.000%, 60.000% 75.000%, 60.000% 80.000%, 60.000% 85.000%, 60.000% 90.000%, 60.000% 95.000%, 60.000% 100.000%, 55.000% 100.000%, 50.000% 100.000%, 45.000% 100.000%, 40.000% 100.000%, 40.000% 95.000%, 40.000% 90.000%, 40.000% 85.000%, 40.000% 80.000%, 40.000% 75.000%, 40.000% 70.000%, 40.000% 65.000%, 40.000% 60.000%, 35.000% 60.000%, 30.000% 60.000%, 25.000% 60.000%, 20.000% 60.000%, 15.000% 60.000%, 10.000% 60.000%, 5.000% 60.000%, 0.000% 60.000%, 0.000% 55.000%);
        }
      }
    }

    &.cursor_up {
      span {
        background: $color-text-primary;
        transform: $cursor-base-translate rotate(-45deg);

        &:first-child {
          clip-path: polygon(45.000% 20.000%, 50.000% 20.000%, 55.000% 20.000%, 60.000% 20.000%, 65.000% 20.000%, 70.000% 20.000%, 75.000% 20.000%, 80.000% 20.000%, 75.000% 25.000%, 70.000% 30.000%, 65.000% 35.000%, 60.000% 40.000%, 59.800% 40.000%, 59.600% 40.000%, 59.400% 40.000%, 59.200% 40.000%, 55.800% 40.000%, 55.600% 40.000%, 55.400% 40.000%, 55.200% 40.000%, 55.000% 40.000%, 50.000% 40.000%, 45.000% 40.000%, 40.000% 40.000%, 35.000% 40.000%, 30.000% 40.000%, 25.000% 40.000%, 20.000% 40.000%, 15.000% 40.000%, 10.000% 40.000%, 5.000% 40.000%, 0.000% 40.000%, 0.000% 35.000%, 0.000% 30.000%, 0.000% 25.000%, 0.000% 20.000%, 5.000% 20.000%, 10.000% 20.000%, 15.000% 20.000%, 20.000% 20.000%, 25.000% 20.000%, 30.000% 20.000%, 35.000% 20.000%, 40.000% 20.000%, 45.000% 20.000%);
        }
        
        &:last-child {
          clip-path: polygon(60.000% 75.000%, 60.000% 70.000%, 60.000% 65.000%, 60.000% 60.000%, 60.000% 55.000%, 60.000% 50.000%, 60.000% 45.000%, 60.000% 44.800%, 60.000% 44.600%, 60.000% 44.400%, 60.000% 44.200%, 60.000% 40.800%, 60.000% 40.600%, 60.000% 40.400%, 60.000% 40.200%, 60.000% 40.000%, 65.000% 35.000%, 70.000% 30.000%, 75.000% 25.000%, 80.000% 20.000%, 80.000% 25.000%, 80.000% 30.000%, 80.000% 35.000%, 80.000% 40.000%, 80.000% 45.000%, 80.000% 50.000%, 80.000% 55.000%, 80.000% 60.000%, 80.000% 65.000%, 80.000% 70.000%, 80.000% 75.000%, 80.000% 80.000%, 80.000% 85.000%, 80.000% 90.000%, 80.000% 95.000%, 80.000% 100.000%, 75.000% 100.000%, 70.000% 100.000%, 65.000% 100.000%, 60.000% 100.000%, 60.000% 95.000%, 60.000% 90.000%, 60.000% 85.000%, 60.000% 80.000%, 60.000% 75.000%);
        }
      }
    }


    &.cursor_right {
      span {
        // background: $color-text-primary;

        &:first-child {
          clip-path: polygon(45.000% 20.000%, 50.000% 20.000%, 55.000% 20.000%, 60.000% 20.000%, 65.000% 20.000%, 70.000% 20.000%, 75.000% 20.000%, 80.000% 20.000%, 75.000% 25.000%, 70.000% 30.000%, 65.000% 35.000%, 60.000% 40.000%, 59.800% 40.000%, 59.600% 40.000%, 59.400% 40.000%, 59.200% 40.000%, 55.800% 40.000%, 55.600% 40.000%, 55.400% 40.000%, 55.200% 40.000%, 55.000% 40.000%, 50.000% 40.000%, 45.000% 40.000%, 40.000% 40.000%, 35.000% 40.000%, 30.000% 40.000%, 25.000% 40.000%, 20.000% 40.000%, 15.000% 40.000%, 10.000% 40.000%, 5.000% 40.000%, 0.000% 40.000%, 0.000% 35.000%, 0.000% 30.000%, 0.000% 25.000%, 0.000% 20.000%, 5.000% 20.000%, 10.000% 20.000%, 15.000% 20.000%, 20.000% 20.000%, 25.000% 20.000%, 30.000% 20.000%, 35.000% 20.000%, 40.000% 20.000%, 45.000% 20.000%);
        }
        
        &:last-child {
          clip-path: polygon(60.000% 75.000%, 60.000% 70.000%, 60.000% 65.000%, 60.000% 60.000%, 60.000% 55.000%, 60.000% 50.000%, 60.000% 45.000%, 60.000% 44.800%, 60.000% 44.600%, 60.000% 44.400%, 60.000% 44.200%, 60.000% 40.800%, 60.000% 40.600%, 60.000% 40.400%, 60.000% 40.200%, 60.000% 40.000%, 65.000% 35.000%, 70.000% 30.000%, 75.000% 25.000%, 80.000% 20.000%, 80.000% 25.000%, 80.000% 30.000%, 80.000% 35.000%, 80.000% 40.000%, 80.000% 45.000%, 80.000% 50.000%, 80.000% 55.000%, 80.000% 60.000%, 80.000% 65.000%, 80.000% 70.000%, 80.000% 75.000%, 80.000% 80.000%, 80.000% 85.000%, 80.000% 90.000%, 80.000% 95.000%, 80.000% 100.000%, 75.000% 100.000%, 70.000% 100.000%, 65.000% 100.000%, 60.000% 100.000%, 60.000% 95.000%, 60.000% 90.000%, 60.000% 85.000%, 60.000% 80.000%, 60.000% 75.000%);
        }
      }
    }

    &.cursor_play {
      span {
        background: $color-text-primary;
        transform: $cursor-base-translate $cursor-base-scale rotate(45deg);

        &:first-child {
          clip-path: polygon(60.000% 75.000%, 60.000% 70.000%, 60.000% 65.000%, 60.000% 60.000%, 60.000% 55.000%, 60.000% 50.000%, 60.000% 45.000%, 60.000% 44.800%, 60.000% 44.600%, 60.000% 44.400%, 60.000% 44.200%, 60.000% 40.800%, 60.000% 40.600%, 60.000% 40.400%, 60.000% 40.200%, 60.000% 40.000%, 65.000% 35.000%, 70.000% 30.000%, 75.000% 25.000%, 80.000% 20.000%, 80.000% 25.000%, 80.000% 30.000%, 80.000% 35.000%, 80.000% 40.000%, 80.000% 45.000%, 80.000% 50.000%, 80.000% 55.000%, 80.000% 60.000%, 80.000% 65.000%, 80.000% 70.000%, 80.000% 75.000%, 80.000% 80.000%, 80.000% 85.000%, 80.000% 90.000%, 80.000% 95.000%, 80.000% 100.000%, 75.000% 100.000%, 70.000% 100.000%, 65.000% 100.000%, 60.000% 100.000%, 60.000% 95.000%, 60.000% 90.000%, 60.000% 85.000%, 60.000% 80.000%, 60.000% 75.000%);
        }
        
        &:last-child {
          clip-path: polygon(45.000% 20.000%, 50.000% 20.000%, 55.000% 20.000%, 60.000% 20.000%, 65.000% 20.000%, 70.000% 20.000%, 75.000% 20.000%, 80.000% 20.000%, 75.000% 25.000%, 70.000% 30.000%, 65.000% 35.000%, 60.000% 40.000%, 59.800% 40.000%, 59.600% 40.000%, 59.400% 40.000%, 59.200% 40.000%, 55.800% 40.000%, 55.600% 40.000%, 55.400% 40.000%, 55.200% 40.000%, 55.000% 40.000%, 50.000% 40.000%, 45.000% 40.000%, 40.000% 40.000%, 35.000% 40.000%, 30.000% 40.000%, 25.000% 40.000%, 20.000% 40.000%, 15.000% 40.000%, 10.000% 40.000%, 5.000% 40.000%, 0.000% 40.000%, 0.000% 35.000%, 0.000% 30.000%, 0.000% 25.000%, 0.000% 20.000%, 5.000% 20.000%, 10.000% 20.000%, 15.000% 20.000%, 20.000% 20.000%, 25.000% 20.000%, 30.000% 20.000%, 35.000% 20.000%, 40.000% 20.000%, 45.000% 20.000%);
        }
      }
    }

    &.cursor_pause {
      span {
        background: $color-text-primary;

        &:first-child {
          clip-path: polygon(25.0% 0.0%, 30.0% 0.0%, 35.0% 0.0%, 40.0% 0.0%, 40.0% 5.0%, 40.0% 10.0%, 40.0% 15.0%, 40.0% 20.0%, 40.0% 25.0%, 40.0% 30.0%, 40.0% 35.0%, 40.0% 40.0%, 40.0% 45.0%, 40.0% 50.0%, 40.0% 55.0%, 40.0% 60.0%, 40.0% 65.0%, 40.0% 70.0%, 40.0% 75.0%, 40.0% 80.0%, 40.0% 85.0%, 40.0% 90.0%, 40.0% 95.0%, 40.0% 100.0%, 35.0% 100.0%, 30.0% 100.0%, 25.0% 100.0%, 20.0% 100.0%, 20.0% 95.0%, 20.0% 90.0%, 20.0% 85.0%, 20.0% 80.0%, 20.0% 75.0%, 20.0% 70.0%, 20.0% 65.0%, 20.0% 40.0%, 20.0% 35.0%, 20.0% 30.0%, 20.0% 25.0%, 20.0% 20.0%, 20.0% 15.0%, 20.0% 10.0%, 20.0% 5.0%, 20.0% 0.0%, 25.0% 0.0%);
        }

        &:last-child {
          clip-path: polygon(75.0% 100.0%, 70.0% 100.0%, 65.0% 100.0%, 60.0% 100.0%, 60.0% 95.0%, 60.0% 90.0%, 60.0% 85.0%, 60.0% 80.0%, 60.0% 75.0%, 60.0% 70.0%, 60.0% 65.0%, 60.0% 60.0%, 60.0% 55.0%, 60.0% 50.0%, 60.0% 45.1%, 60.0% 39.8%, 60.0% 35.0%, 60.0% 30.0%, 60.0% 25.0%, 60.0% 20.0%, 60.0% 15.0%, 60.0% 10.0%, 60.0% 4.1%, 60.0% 0.0%, 65.0% 0.0%, 70.0% 0.0%, 75.0% 0.0%, 80.0% 0.0%, 80.0% 5.0%, 80.0% 10.0%, 80.0% 15.0%, 80.0% 20.0%, 80.0% 25.0%, 80.0% 30.0%, 80.0% 35.0%, 80.0% 60.0%, 80.0% 65.0%, 80.0% 70.0%, 80.0% 75.0%, 80.0% 80.0%, 80.0% 85.0%, 80.0% 90.0%, 80.0% 95.0%, 80.0% 100.0%, 75.0% 100.0%);
        }
      }
    }
  }


  // @DEBUG: Cursors

  // cross
  // span {
  //   &:first-child {
  //     clip-path: polygon(0.0% 55.0%, 0.0% 50.0%, 0.0% 45.0%, 0.0% 40.0%, 5.0% 40.0%, 10.0% 40.0%, 15.0% 40.0%, 20.0% 40.0%, 25.0% 40.0%, 30.0% 40.0%, 35.0% 40.0%, 40.0% 40.0%, 45.0% 45.0%, 50.0% 50.0%, 55.0% 55.0%, 60.0% 60.0%, 60.0% 65.0%, 60.0% 70.0%, 60.0% 75.0%, 60.0% 80.0%, 60.0% 85.0%, 60.0% 90.0%, 60.0% 95.0%, 60.0% 100.0%, 55.0% 100.0%, 50.0% 100.0%, 45.0% 100.0%, 40.0% 100.0%, 40.0% 95.0%, 40.0% 90.0%, 40.0% 85.0%, 40.0% 80.0%, 40.0% 75.0%, 40.0% 70.0%, 40.0% 65.0%, 40.0% 60.0%, 35.0% 60.0%, 30.0% 60.0%, 25.0% 60.0%, 20.0% 60.0%, 15.0% 60.0%, 10.0% 60.0%, 5.0% 60.0%, 0.0% 60.0%, 0.0% 55.0%);
  //   }
  //   &:last-child {
  //     clip-path: polygon(100.0% 45.0%, 100.0% 50.0%, 100.0% 55.0%, 100.0% 60.0%, 95.0% 60.0%, 90.0% 60.0%, 85.0% 60.0%, 80.0% 60.0%, 75.0% 60.0%, 70.0% 60.0%, 65.0% 60.0%, 60.0% 60.0%, 55.0% 55.0%, 50.0% 50.0%, 45.0% 45.0%, 40.0% 40.0%, 40.0% 35.0%, 40.0% 30.0%, 40.0% 25.0%, 40.0% 20.0%, 40.0% 15.0%, 40.0% 10.0%, 40.0% 5.0%, 40.0% 0.0%, 45.0% 0.0%, 50.0% 0.0%, 55.0% 0.0%, 60.0% 0.0%, 60.0% 5.0%, 60.0% 10.0%, 60.0% 15.0%, 60.0% 20.0%, 60.0% 25.0%, 60.0% 30.0%, 60.0% 35.0%, 60.0% 40.0%, 65.0% 40.0%, 70.0% 40.0%, 75.0% 40.0%, 80.0% 40.0%, 85.0% 40.0%, 90.0% 40.0%, 95.0% 40.0%, 100.0% 40.0%, 100.0% 45.0%);
  //   }
  // }

  // chevron_right
  // span {
  //   &:first-child {
  //     clip-path: polygon(45.0% 20.0%, 50.0% 20.0%, 55.0% 20.0%, 60.0% 20.0%, 65.0% 20.0%, 70.0% 20.0%, 75.0% 20.0%, 80.0% 20.0%, 75.0% 25.0%, 70.0% 30.0%, 65.0% 35.0%, 60.0% 40.0%, 59.8% 40.0%, 59.6% 40.0%, 59.4% 40.0%, 59.2% 40.0%, 55.8% 40.0%, 55.6% 40.0%, 55.4% 40.0%, 55.2% 40.0%, 55.0% 40.0%, 50.0% 40.0%, 45.0% 40.0%, 40.0% 40.0%, 35.0% 40.0%, 30.0% 40.0%, 25.0% 40.0%, 20.0% 40.0%, 15.0% 40.0%, 10.0% 40.0%, 5.0% 40.0%, 0.0% 40.0%, 0.0% 35.0%, 0.0% 30.0%, 0.0% 25.0%, 0.0% 20.0%, 5.0% 20.0%, 10.0% 20.0%, 15.0% 20.0%, 20.0% 20.0%, 25.0% 20.0%, 30.0% 20.0%, 35.0% 20.0%, 40.0% 20.0%, 45.0% 20.0%);
  //   }
  //   &:last-child {
  //     clip-path: polygon(60.0% 75.0%, 60.0% 70.0%, 60.0% 65.0%, 60.0% 60.0%, 60.0% 55.0%, 60.0% 50.0%, 60.0% 45.0%, 60.0% 44.8%, 60.0% 44.6%, 60.0% 44.4%, 60.0% 44.2%, 60.0% 40.8%, 60.0% 40.6%, 60.0% 40.4%, 60.0% 40.2%, 60.0% 40.0%, 65.0% 35.0%, 70.0% 30.0%, 75.0% 25.0%, 80.0% 20.0%, 80.0% 25.0%, 80.0% 30.0%, 80.0% 35.0%, 80.0% 40.0%, 80.0% 45.0%, 80.0% 50.0%, 80.0% 55.0%, 80.0% 60.0%, 80.0% 65.0%, 80.0% 70.0%, 80.0% 75.0%, 80.0% 80.0%, 80.0% 85.0%, 80.0% 90.0%, 80.0% 95.0%, 80.0% 100.0%, 75.0% 100.0%, 70.0% 100.0%, 65.0% 100.0%, 60.0% 100.0%, 60.0% 95.0%, 60.0% 90.0%, 60.0% 85.0%, 60.0% 80.0%, 60.0% 75.0%);
  //   }
  // }

  // chevron_left
  // span {
  //   &:first-child {
  //     clip-path: polygon(20.0% 55.0%, 20.0% 50.0%, 20.0% 45.0%, 20.0% 40.0%, 20.0% 35.0%, 20.0% 30.0%, 20.0% 25.0%, 20.0% 20.0%, 25.0% 25.0%, 30.0% 30.0%, 35.0% 35.0%, 40.0% 40.0%, 40.0% 40.2%, 40.0% 40.4%, 40.0% 40.6%, 40.0% 40.8%, 40.0% 44.2%, 40.0% 44.4%, 40.0% 44.6%, 40.0% 44.8%, 40.0% 45.0%, 40.0% 50.0%, 40.0% 55.0%, 40.0% 60.0%, 40.0% 65.0%, 40.0% 70.0%, 40.0% 75.0%, 40.0% 80.0%, 40.0% 85.0%, 40.0% 90.0%, 40.0% 95.0%, 40.0% 100.0%, 35.0% 100.0%, 30.0% 100.0%, 25.0% 100.0%, 20.0% 100.0%, 20.0% 95.0%, 20.0% 90.0%, 20.0% 85.0%, 20.0% 80.0%, 20.0% 75.0%, 20.0% 70.0%, 20.0% 65.0%, 20.0% 60.0%, 20.0% 55.0%);
  //   }
  //   &:last-child {
  //     clip-path: polygon(75.0% 40.0%, 70.0% 40.0%, 65.0% 40.0%, 60.0% 40.0%, 55.0% 40.0%, 50.0% 40.0%, 45.0% 40.0%, 44.8% 40.0%, 44.6% 40.0%, 44.4% 40.0%, 44.2% 40.0%, 40.8% 40.0%, 40.6% 40.0%, 40.4% 40.0%, 40.2% 40.0%, 40.0% 40.0%, 35.0% 35.0%, 30.0% 30.0%, 25.0% 25.0%, 20.0% 20.0%, 25.0% 20.0%, 30.0% 20.0%, 35.0% 20.0%, 40.0% 20.0%, 45.0% 20.0%, 50.0% 20.0%, 55.0% 20.0%, 60.0% 20.0%, 65.0% 20.0%, 70.0% 20.0%, 75.0% 20.0%, 80.0% 20.0%, 85.0% 20.0%, 90.0% 20.0%, 95.0% 20.0%, 100.0% 20.0%, 100.0% 25.0%, 100.0% 30.0%, 100.0% 35.0%, 100.0% 40.0%, 95.0% 40.0%, 90.0% 40.0%, 85.0% 40.0%, 80.0% 40.0%, 75.0% 40.0%);
  //   }
  // }

  // chevron_pause
  // span {
  //   &:first-child {
  //     clip-path: polygon(25.0% 0.0%, 30.0% 0.0%, 35.0% 0.0%, 40.0% 0.0%, 40.0% 5.0%, 40.0% 10.0%, 40.0% 15.0%, 40.0% 20.0%, 40.0% 25.0%, 40.0% 30.0%, 40.0% 35.0%, 40.0% 40.0%, 40.0% 45.0%, 40.0% 50.0%, 40.0% 55.0%, 40.0% 60.0%, 40.0% 65.0%, 40.0% 70.0%, 40.0% 75.0%, 40.0% 80.0%, 40.0% 85.0%, 40.0% 90.0%, 40.0% 95.0%, 40.0% 100.0%, 35.0% 100.0%, 30.0% 100.0%, 25.0% 100.0%, 20.0% 100.0%, 20.0% 95.0%, 20.0% 90.0%, 20.0% 85.0%, 20.0% 80.0%, 20.0% 75.0%, 20.0% 70.0%, 20.0% 65.0%, 20.0% 40.0%, 20.0% 35.0%, 20.0% 30.0%, 20.0% 25.0%, 20.0% 20.0%, 20.0% 15.0%, 20.0% 10.0%, 20.0% 5.0%, 20.0% 0.0%, 25.0% 0.0%);
  //   }
  //   &:last-child {
  //     clip-path: polygon(75.0% 100.0%, 70.0% 100.0%, 65.0% 100.0%, 60.0% 100.0%, 60.0% 95.0%, 60.0% 90.0%, 60.0% 85.0%, 60.0% 80.0%, 60.0% 75.0%, 60.0% 70.0%, 60.0% 65.0%, 60.0% 60.0%, 60.0% 55.0%, 60.0% 50.0%, 60.0% 45.1%, 60.0% 39.8%, 60.0% 35.0%, 60.0% 30.0%, 60.0% 25.0%, 60.0% 20.0%, 60.0% 15.0%, 60.0% 10.0%, 60.0% 4.1%, 60.0% 0.0%, 65.0% 0.0%, 70.0% 0.0%, 75.0% 0.0%, 80.0% 0.0%, 80.0% 5.0%, 80.0% 10.0%, 80.0% 15.0%, 80.0% 20.0%, 80.0% 25.0%, 80.0% 30.0%, 80.0% 35.0%, 80.0% 60.0%, 80.0% 65.0%, 80.0% 70.0%, 80.0% 75.0%, 80.0% 80.0%, 80.0% 85.0%, 80.0% 90.0%, 80.0% 95.0%, 80.0% 100.0%, 75.0% 100.0%);
  //   }
  // }

}